.profile__name {
  margin: 0;
  padding: 0;
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 684px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 225px;
    margin-left: 25px;
  }
}