.cards__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, minmax(min-content, max-content));
  gap: 20px 17px;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, auto);
    justify-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .cards__list {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
}