.card__delete {
  background: url('../../../images/btnDelete.svg');
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.card__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}