.profile__job {
  margin: 10px 0 0;
  padding: 0;
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 596px) and (max-width: 900px) {
  .profile__job {
    max-width: 340px;
  }
}
@media screen and (min-width: 320px) and (max-width: 684px) {
  .profile__job {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}